@import "variables.scss";

$header-bar-large: $font-size-huge;
$header-bar-dropdown: $font-size-large;

.font-weight-standard {
  font-weight: 400;
}

.font-weight-heavy {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: 600;
}

.font-largest {
  font-size: $font-size-largest;
}

.font-largest-bold {
  @extend .font-largest;
  @extend .font-weight-bold;
}

.font-huge {
  font-size: $font-size-huge;
}

.font-xl {
  font-size: $font-size-xl;
}

.font-large {
  font-size: $font-size-large;
}

.font-medium {
  font-size: $font-size-medium;
}

.font-small {
  font-size: $font-size-small;
}

.font-small-bold {
  @extend .font-small;
  @extend .font-weight-bold;
}

.font-xs {
  font-size: $font-size-xs;
}
