<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->
<div>
<div class="toolbar" role="banner">
  <h1 style="width:100%;text-align:center">Karius Pathogen Management</h1>
</div>

  <div class="card-filter" >
      <div id="pathogenNameDiv">
        <label>Pathogen Name</label>
        <input type="text" name="pathogenCommonName" [(ngModel)] = "pathogenNameFilter" id="pathogenName"/>
      </div>
      <div style="margin-left:20px" id="genomicSequenceDiv">
        <label>Genomic Sequence</label>
        <input type="text" name="pathogenSequence" [(ngModel)] = "pathogenSequenceFilter" id="genomicSequence"/>
      </div>
      <button style="margin-left:40px;margin-top:50px" class="mat-raised-button mat-primary" (click)="filterRows()">
        Filter
      </button>
  </div>

  <div>
    <button style="margin-bottom:10px;margin-left:5px" class="mat-raised-button mat-primary"(click)="createNewPathogen()">
      New Pathogen
    </button>
  </div>

  <mat-table #pathogenTable class="mat-elevation-z8" [dataSource] = "pathogenDataSource">
    <ng-container matColumnDef="pathogenCommonName">
      <mat-header-cell *matHeaderCellDef>Pathogen Common Name</mat-header-cell>
      <mat-cell *matCellDef="let pathogenRow">{{pathogenRow.pathogenCommonName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="pathogenScientificName">
      <mat-header-cell *matHeaderCellDef>Pathogen Scientific Name</mat-header-cell>
      <mat-cell *matCellDef="let pathogenRow">{{pathogenRow.pathogenScientificName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="pathogenFamily">
      <mat-header-cell *matHeaderCellDef>Family</mat-header-cell>
      <mat-cell *matCellDef="let pathogenRow">{{pathogenRow.pathogenFamily}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row matToolTip="Please double click the row to view details and edit" *matRowDef="let row of pathogenRows; columns: tableColumns" (click)="showPathogenDetails(row)"></mat-row>
  </mat-table>

  <mat-paginator #pathogenPaginator [length]="totalPages" [pageIndex]="currentPage" [pageSize]="pageSize" (page)="handlePaging($event)"></mat-paginator>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>
